.maat-rec-title{
    margin: 7em 0;
}

.maat-card-recursos-cat{
    position: relative;
    overflow: hidden;
}

.maat-card-recursos-cat__cover{
    width: 100%;
    height: 100%;
    transition: .4s;
}

.maat-card-recursos-cat__caption{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .3);
    color: #F6F6F6;
    transition: .4s;
    font-size: 29px;
}

.maat-card-recursos-cat__caption__title{
    font-weight: normal;
    font-family: 'Nexa Regular', sans-serif;
}

.maat-card-recursos-cat:hover .maat-card-recursos-cat__cover{
    transform: scale(1.2) rotate(-2deg);
}

.maat-grid-recursos-cat{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 300px), 1fr));
    gap: 20px;
    padding: 2rem 0;
}

.maat-card-recursos-cat__caption:hover{
    color: white;
    background-color: rgba(0, 0, 0, .7);
}