.maat-rec-title{
    margin: 7em 0;
    margin-bottom: 4em;
}

.maat-card-recursos-cat{
    position: relative;
    overflow: hidden;
}

.maat-card-recursos-cat__cover{
    width: 100%;
    height: 100%;
    transition: .4s;
}

.maat-card-recursos-cat__caption{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .3);
    color: #F6F6F6;
    transition: .4s;
    font-size: 29px;
    text-decoration: none !important;
}

.maat-card-recursos-cat__caption__title{
    font-weight: normal;
    font-family: 'Nexa Regular', sans-serif;
}

.maat-card-recursos-cat__caption__icon{
    width: 82px;
}

.maat-card-recursos-cat:hover .maat-card-recursos-cat__cover{
    transform: scale(1.2) rotate(-2deg);
}

.maat-grid-recursos-cat{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
    gap: 20px;
    padding: 2rem 0;
}

.maat-card-recursos-cat__caption:hover{
    color: white;
    background-color: rgba(0, 0, 0, .7);
}

.maat-card-recursos-cat.inactive{
    pointer-events: none;
}

.maat-card-recursos-cat.inactive{
    opacity: .5;
}

.maat-recursos-recientes__card__top{
    position: relative;
    overflow: hidden;
}

.maat-recursos-recientes__card__cover{
    width: 100%;
    vertical-align: middle;
    transition: .4s;
}

.maat-recursos-recientes__card__caption{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0, 0, 0, .3);
    color: #F6F6F6;
    transition: .4s;
    padding: 1rem;
}

.maat-recursos-recientes__card:hover .maat-recursos-recientes__card__cover{
    transform: scale(1.2) rotate(-2deg);
}

.maat-recursos-recientes__card__caption:hover{
    background-color: rgba(0, 0, 0, .7);
}

.maat-recursos-recientes__card__caption__icon{
    width: 35px;
    height: 35px;
    margin-bottom: 1rem;
}

.maat-recursos-recientes__card__link{
    display: inline-block;
    transition: .4s;
    margin: 1rem 0;
    text-decoration: none !important;
}

.maat-recursos-recientes__card__link:hover{
    opacity: .7;
}

.maat-recursos-recientes__card__title{
    color: #1B1B1B;
    font-size: 29px;
    font-family: 'Nexa Regular', sans-serif;
    margin: 0;
}

.maat-recursos-recientes__card__excerpt{
    color: #6C6C6C;
    font-size: 17px;
    font-family: 'Nexa Regular', sans-serif;
}

.maat-recursos-recientes .item{
    padding: 1rem;
}

.maat-recursos-recientes .slick-arrow{
    top: -50px;
    font-size: 20px;
    padding: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-color: black;
    color: black;
}

.maat-recursos-recientes .slick-arrow:hover{
    background-color: black;
    color: white;
}

.maat-recursos-recientes .slick-arrow:focus{
    background-color: white;
    outline: 0px;
    color: black;
}

.maat-recursos-recientes .maat-btn-next{
    right: 0;
}

.maat-recursos-recientes .maat-btn-prev{
    right: 60px;
}

.maat-recusros-search-section{
    padding: 3rem;
    text-align: center;
    background-color: #F6F6F6;
    margin-top: 3rem;
}

.maat-recusros-search-section__leyend{
    font-family: 'Nexa Regular', sans-serif;
    font-size: 29px;
}

/* Taxonomy archive */
.maat-grid-tipo-recursos{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 300px), 1fr));
    gap: 20px;
}
