.maat-blog-main{
    max-width: 100% !important;
}

.maat-heading-blog{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 10em 2em 3em 2em;
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
}

.maat-heading-blog::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.maat-heading-blog__entry{
    position: relative;
}

.maat-heading-blog__entry__title{
    font-family: 'Nexa Bold', sans-serif;
    font-size: 70px;
    color: white;
    z-index: 2;
}

.maat-grid-blog-posts__col__title-link{
    text-decoration: none !important;
    transition: .3s;
}

.maat-grid-blog-posts__col__title-link:hover{
    opacity: .7;
}

.maat-heading-blog__entry__divider{
    width: 45px;
    height: 1px;
    color: white;
    background-color: white;
}

.breadcrumbs{
    margin-top: 2em;
    text-align: center !important;
    color: white;
    font-family: 'Nexa Regular', sans-serif;
    font-size: 17px;
}

.breadcrumbs .post-root{
    color: #C0C5C7;
}

.breadcrumbs span{
    color: white;
}

.maat-container{
    max-width: 1440px !important;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.maat-grid-blog-posts__row{
    display: flex;
    margin-bottom: 2rem;
}

.maat-grid-blog-posts__col{
    box-sizing: border-box;
    padding: 2rem;
    width: 50%;
}

.maat-grid-blog-posts__col__img{
    width: 100%;
}

.maat-grid-blog-posts__row:nth-child(even){
    flex-direction: row-reverse;
}

.maat-grid-blog-posts__col__etiqueta{
    padding: 6px 15px;
    color: white;
    font-family: 'Nexa Regular', sans-serif;
    font-size: 15px;
}

.etiqueta-verde{
    background-color: #50834B;
}

.etiqueta-azul{
    background-color: #4F80A4;
}

.etiqueta-roja{
    background-color: #802920;
}

.etiqueta-gris{
    background-color: #6C6C6C;
}

.maat-link-cat{
    display: inline-block;
    text-decoration: none !important;
    transition: .3s;
}

.maat-link-cat:hover{
    opacity: .7;
}

.maat-grid-blog-posts__col__title{
    color: #1B1B1B;
    font-family: 'Nexa Regular', sans-serif;
    font-size: 29px;
    margin-top: 1em;
}

.maat-grid-blog-posts__col__info{
    display: flex;
}

.maat-grid-blog-posts__col__info span{
    display: flex;
    align-items: center;
    color: #6C6C6C;
    font-family: 'Nexa Regular', sans-serif;
    font-size: 15px;
}

.maat-grid-blog-posts__col__info span i{
    margin-right: 8px;
}

.maat-grid-blog-posts__col__info span p{
    margin: 0px;
}

.maat-grid-blog-posts__col__info__author{
    margin-left: 2em;
}

.maat-grid-blog-posts__col__divider{
    background-color: #D9DDDE;
    color: #D9DDDE;
    border: none;
    height: 1px;
}

.maat-grid-blog-posts__col__desc{
    margin-top: 1em;
    color: #6C6C6C;
    font-family: 'Nexa Regular', sans-serif;
    font-size: 17px;
    margin-bottom: 2em;
}

.maat-grid-blog-posts__col__link{
    background-color: white;
    padding: 20px;
    color: #1B1B1B;
    border: 2px solid #1B1B1B;
    text-decoration: none !important;
    font-family: 'Nexa Heavy', sans-serif;
    font-size: 15px;
    letter-spacing: 3px;
    transition: .4s;
}

.maat-grid-blog-posts__col__link:hover{
    background-color: #1B1B1B;
    color: #D9DDDE;
}

.maat-grid-blog-search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5em 0;
}

.maat-grid-blog-search input{
    width: 440px !important;
    border: none !important;
    box-shadow: 0px 4px 40px rgb(0 0 0 / 10%) !important;
    border-radius: 0px !important;
    height: 50px;
}

.maat-grid-blog-search input::placeholder{
    font-style: italic;
    color: #6C6C6C;
    font-family: 'Nexa Regular', sans-serif;
    font-size: 16px !important;
}

.maat-grid-blog-search button{
    background-color: #1B1B1B;
    border: 1px solid #1B1B1B;
    border-radius: 0px;
    color: white;
    transition: .4s;
    height: 50px;
}

.maat-grid-blog-search button:hover{
    opacity: .7 !important;
    background-color: #1B1B1B !important;
}

.maat-grid-blog-filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 2em;
}

.maat-grid-blog-filter__view span{
    font-family: 'Nexa Regular', sans-serif;
    font-size: 16px !important;
    color: #6C6C6C;
}

.maat-grid-blog-filter__filter{
    display: flex;
}

.maat-grid-blog-filter__filter span{
    font-family: 'Nexa Regular', sans-serif;
    font-size: 16px !important;
    color: #6C6C6C;
    margin-right: 15px;
    width: 160px;
    display: flex;
    align-items: center;
}

.maat-grid-blog-filter__filter select{
    border: none !important;
    box-shadow: 0px 4px 40px rgb(0 0 0 / 10%) !important;
    font-style: italic;
    color: #6C6C6C;
    font-family: 'Nexa Regular', sans-serif;
    font-size: 16px !important;
}

.maat-divider{
    padding: 2em;
}

.maat-grid-blog__divider{
    width: 100%;
    height: 1px;
    background-color: #C0C5C7;
    color: #C0C5C7;
    border: none;
}

.maat-blog-pagination{
    display: flex;
    align-items: center;
    justify-content: center;
}

.maat-blog-pagination a{
    color: black;
    text-decoration: none;
}

.maat-blog-pagination a:hover .arrows{
    background-color: black;
    color: white;
}

.maat-blog-pagination .arrows{
    background-color: white;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    border: none !important;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
    transition: .4s;
}

.maat-blog-pagination__number{
    margin: 0px;
    display: flex;
}

.maat-blog-pagination__number a{
    font-family: 'Nexa Regular', sans-serif;
    font-size: 16px !important;
    color:#6C6C6C;
    text-decoration: none;
    margin: 0px 10px;
}

@media (max-width: 769px){
    .maat-grid-blog-posts__row{
        display: block;
    }
    .maat-grid-blog-posts__col{
        width: 100%;
    }
    .maat-heading-blog__entry__title{
        font-size: 60px;
    }
}

@media (max-width: 578px){
    .maat-heading-blog__entry__title{
        font-size: 45px;
    }
}