.maat-blog-single-top{
    display: flex;
    margin-bottom: 2em;
    flex-flow: row wrap;
}
.maat-link-cat{
    display: inline-block;
    text-decoration: none !important;
    padding: 6px 15px;
    color: white;
    font-family: 'Nexa Regular', sans-serif;
    font-size: 15px;
    transition: .3s;
    margin: 0px 15px 15px 0;
    
}

.maat-link-cat:hover{
    opacity: .7;
}

.etiqueta-verde{
    background-color: #50834B;
}

.etiqueta-azul{
    background-color: #4F80A4;
}

.etiqueta-roja{
    background-color: #802920;
}

.etiqueta-gris{
    background-color: #6C6C6C;
}

.maat-grid-blog-posts__col__info{
    display: flex;
}

.single-post .maat-grid-blog-posts__col__info{
    margin-bottom: 15px;
}

.maat-grid-blog-posts__col__info span{
    display: flex;
    align-items: center;
    color: #6C6C6C;
    font-family: 'Nexa Regular', sans-serif;
    font-size: 15px;
}

.maat-grid-blog-posts__col__info span i{
    margin-right: 8px;
}

.maat-grid-blog-posts__col__info span p{
    margin: 0px;
}

.maat-grid-blog-posts__col__info__author{
    margin-left: 2em;
}

.maat-blog-single-info{
    padding: 1em 3em;
}

.maat-blog-single-info__desc{
    font-family: 'Nexa Regular', sans-serif;
    font-size: 17px;
    color: #6C6C6C;
}

.maat-single-blog-divider{
    width: 100%;
    height: 1px;
    background-color: #C0C5C7;
    border: none;
    color: #C0C5C7;
    margin-top: 2em;
}

.maat-single-blog-content{
    padding: 3em;
    display: flex;
}

.maat-single-blog-content__cont-img{
    width: 50%;
}

.maat-single-blog-content__desc{
    width: 50%;
    display: flex;
    padding: 0px 2em;
    flex-direction: column;
    justify-content: center;
}

.maat-single-blog-content__desc__title{
    font-family: 'Nexa Regular', sans-serif;
    font-size: 29px;
    color: #1B1B1B;
    text-transform: uppercase;
}

.maat-single-blog-content__desc__excerpt{
    font-family: 'Nexa Regular', sans-serif;
    font-size: 17px;
    color: #6C6C6C;
}

.maat-single-blog-special-text{
    padding: 3em 7em;
    position: relative;
}

.maat-single-blog-special-text__text{
    font-family: 'Nexa Regular', sans-serif;
    font-size: 17px;
    color: #6C6C6C;
    font-style: italic;
}

.maat-single-blog-special-text::before{
    position: absolute;
    content: '';
    width: 5px;
    height: 100%;
    background-color: black;
    top: 0;
    left: 70px;
}

.maat-single-blog-aux-img{
    padding: 4em 3em;
}

.maat-single-blog-aux-img .aux-img{
    width: 100%;
    height: 370px;
    object-fit: cover;
}

.maat-single-blog-text-aux2{
    padding: 0px 3em;
}

.maat-single-blog-text-aux2__excerpt{
    font-family: 'Nexa Regular', sans-serif;
    font-size: 17px;
    color: #6C6C6C;
    margin-bottom: 3em;
}

.maat-single-blog-share{
    padding: 3em 0;
    padding-bottom: 0;
    display: block;
}

.maat-single-blog-share__text{
    font-family: 'Nexa Regular', sans-serif;
    font-size: 17px;
    color: #1B1B1B;
}

.maat-single-blog-share__icons{
    display: flex;
    flex-flow: row wrap;
}

.maat-single-blog-share__icons .maat-single-blog-share__icons__links{
    text-decoration: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: 1398E5;
    border-radius: 50%;
    margin-top: 1em;
    margin-right: 10px;
    transition: .3s;
}

.maat-single-blog-share__icons__links:hover{
    opacity: .7;
}

.link-twitter{
    background-color: #1398E5;
}

.link-facebook{
    background-color: #3B5998;
}

.link-linkedin{
    background-color: #0E76A8;
}

.link-whatsapp{
    background-color: #1FAF38;
}

.link-envelope{
    background-color: #6C6C6C;
}

.link-copy{
    background-color: #1B1B1B;
}

.maat-single-blog-share__icons__links i{
    font-size: 28px;
    color: white;
}

.maat-single-blog-pagination{
    margin: 3em 0;
    padding: 1em;
    box-sizing: border-box;
    background-color: #F6F6F6;
    display: flex;
    justify-content: space-between;
}

.maat-single-blog-pagination a{
    text-decoration: none;
    color: black;
    font-family: 'Nexa Regular', sans-serif;
    font-size: 20px;
    transition: .4s;
    display: flex;
    align-items: center;
}

.maat-single-blog-pagination__navs i{
    margin-right: 10px;
    margin-left: 10px;
}

.maat-single-blog-pagination__navs:hover{
    opacity: .7;
    color: black;
}

.maat-single-blog-title-related-post{
    padding: 5em 0;
    box-sizing: border-box;
}

.maat-single-blog-related-post{
    display: grid;
    list-style: none;
    padding: 0;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
    gap: 1em;
}


.maat-single__related-post{
    width: 100%;
    order: 3;
    padding: 2em;
}

.maat-single-blog-related-post__item__img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.maat-single-blog-related-post__item__title{
    font-family: 'Nexa Regular', sans-serif;
    font-size: 20px;
    color: #6C6C6C;
}

.maat-blog-content__row{
    display: flex;
    flex-flow: row wrap;
}

.maat-blog-content__col-left{
    width: 70%;
    order: 1;
}

.maat-blog-content__col-right{
	width: 30%;
    order: 2;
}

.maat-blog-content__col{
    padding: 3rem 2rem;
    box-sizing: border-box;
}

.maat-single-blog__content p{
    font-family: 'Nexa Regular', sans-serif;
}

.maat-single-blog__content h1, .maat-single-blog__content h2, .maat-single-blog__content h3, .maat-single-blog__content h4, .maat-single-blog__content h5{
    font-family: 'Nexa Bold', sans-serif;
}

.text-aux{
	position: relative;	
}

.text-aux::before{
	position: absolute;
	content: '';
	top: 0px;
	left: 60px;
	width: 5px;
	height: 100%;
	background-color: #1B1B1B;
	color: #1B1B1B;
}

/* Single recursos */
.maat-single-blog__content__cover{
    max-height: 350px;
    object-fit: cover;
    vertical-align: middle;
}

.maat-single-blog__content__box-cover{
    position: relative;
}

.maat-single-blog__content__caption{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.maat-single-blog__content__caption__title{
    margin: 0 2rem;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: 'Nexa Black', sans-serif !important;
    font-style: italic;
    margin-left: 8rem;
}
.maat-single-blog__content__caption__icon{
    margin-left: 30px;
    height: 100%;
}

.maat-card-recursos-cat__caption__icon__img{
    position: absolute;
    left: 40px;
    height: 80px;
    top: calc(50% - 40px);
}

.maat-single-blog__content__caption__icon__bg{
    width: 100px;
    height: 100%;
    background-color: black;
    transform: rotate(15deg) scale(1.5);
    position: absolute;
    left: 30px;
    top: 0;
}


.maat-single-blog__content__box-cover{
    margin-bottom: 3rem;
    overflow: hidden;
}

@media (max-width: 769px){
    .maat-blog-content__row{
        flex-direction: column;
    }
    .maat-blog-content__col-left{
        width: 100%;
    }

    .maat-blog-single-top, .maat-grid-blog-posts__col__info{
        flex-direction: column;
    }

    .maat-grid-blog-posts__col__info{
        margin-top: 1rem;
        margin-left: 0;
    }

    .maat-grid-blog-posts__col__info__author{
        margin-left: 0;
        margin-top: 1rem;
    }

    .maat-blog-content__col-left{
		width: 100%;
	}

	.maat-blog-content__col-right{
		width: 100%;
	}
    
}

@media (max-width: 579px){
    .maat-grid-blog-filter{
		display: block !important;
	}
	.maat-grid-blog-posts__row{
		padding: 10px;
		border-bottom: 1px solid #ccc;
		padding-bottom: 3em;
	}
	
	.maat-grid-blog-posts__col{
		padding: 1em;
	}
	
	.maat-divider{
		padding: 1em;
	}
	
	.maat-grid-blog-search{
		margin: 2em 0 !important;
	}
	
	.maat-grid-blog-posts__col__title{
		margin-top: 5px;
	}
	.maat-blog-content__col.maat-blog-content__col-left{
		width: 100% !important;
	}
	.maat-blog-content__col.maat-blog-content__col-right{
		width: 100% !important;
	}
	.maat-single-blog__content .text-aux{
		padding: 3em !important;
	}
	.text-aux::before{
		left: 15px !important;
	}

    .blog  .page-header .entry-title, .site-footer .footer-inner, .site-footer:not(.dynamic-footer), .site-header .header-inner, .site-header:not(.dynamic-header), body:not([class*=elementor-page-]) .site-main{
		padding: 0px !important;
	}

    .maat-blog-content__col.maat-blog-content__col-right{
        background-color: #f8f8f8;
        margin-bottom: 1rem;
        order: 3;
    }

    .maat-heading-blog__entry__title{
        text-align: center;
    }

    .maat-heading-blog{
        padding-top: 7em;
    }

    .maat-single-blog__content p{
        font-size: 20px;
    }

    .search-form{
		width: 85% !important;
	}

    .maat-grid-blog-filter__filter__label{
		display: none;
	}
	
	.maat-grid-blog-filter__filter__select{
		margin-top: 1em;
	}

	.maat-grid-blog-posts{
		padding: 0px 15px;
	}
	
	.maat-blog-content__col.maat-blog-content__col-right{
		margin-bottom: 0;
	}

    .maat-single-blog-share__icons .maat-single-blog-share__icons__links{
        width: 40px;
        height: 40px;
        margin-right: 15px;
    }

    .maat-single-blog-share__icons .maat-single-blog-share__icons__links i{
        font-size: 20px;
    }

    .maat-single-blog-share__icons .maat-single-blog-share__icons__links img{
        width: 20px;
    }

    .maat-single-blog__content__caption__title{
        font-size: 20px;
        margin-left: 3rem;
    }

    .maat-card-recursos-cat__caption__icon__img{
        height: 60px;
        top: calc(50% - 30px);
        left: 20px;
    }

    .maat-single-blog__content__caption__icon__bg{
        width: 60px;
        left: 20px;
    }

    .maat-single__related-post{
        order: 2;
    }
}